


.Tip__compact {
    color: #000000;
  cursor: pointer;
  background-color: #3d464d;
  color: white;
  padding: 5px 10px;
}

.Tip__card {
  padding: 20px;
  background: #fff;
  background-clip: padding-box;
  width: 200px;
  height: 90px;
  background-color: #2A2E33;
  border-radius:0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  
}

.Tip__card textarea {
  color: #D2D3D4;
  font-size: 1rem;
  width: 200px;
  height: 70px; 
  background-color: #36393D;
  border-radius:0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}


.Tip__card input[type="submit"] {
  /* margin-top: 5px;
  font-size: large; */
  width: 16.6px;
  height: 12px;
  object-fit: contain;
  border:none;
  background:url(../lib/done.png);
}
.Tip__card input[type="button"] {
  /* margin-top: 5px;
  font-size: large; */
  width: 16.6px;
  height: 12px;
  object-fit: contain;
  border:none;
}

.cancel {
  width: 12px;
  height: 12px;
  object-fit: contain;
  padding-left: 400px;
}

.btn_img{
  width: 16.6px;
  height: 12px;
  object-fit: contain;
 
}

.edit{
  background:url(../lib/create.png)
}



