


.Tip__compact {
  cursor: pointer;
  background-color: #3d464d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

.Tip__card {
  /* padding: 10px;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(37, 40, 43, 0.2); */
  width: 222px;
  height: 97px;
  border-radius: 2px;
  background-color: #292c44;
  
}

.Tip__card textarea {
  /* font-size: 16px;
  width: 200px;
  height: 70px; */
  width: 206px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.Tip__card input[type="submit"] {
  /* margin-top: 5px;
  font-size: large; */
  background:url(../lib/done.png);
  width: 16.6px;
  height: 12px;
  object-fit: contain;
}
.Tip__card input[type="submit"] {
  /* margin-top: 5px;
  font-size: large; */
  width: 16.6px;
  height: 12px;
  object-fit: contain;
  border:none;
  background:url(../lib/done.png);
}
.Tip__card input[type="button"] {
  /* margin-top: 5px;
  font-size: large; */
  width: 16.6px;
  height: 12px;
  object-fit: contain;
  border:none;
}

.cancel {
  width: 12px;
  height: 12px;
  object-fit: contain;
  padding-left: 195px;
}

.btn_img{
  width: 16.6px;
  height: 12px;
  object-fit: contain;
 
}

.edit{
  background:url(../lib/create.png)
}



