.sidebar_rightdown {
   color: #ffffff;
  background-color: #2A2E33;
  width: 25vw;
  height: 25vw;
  position: relative;
  right: 0px;
  border-bottom: 1px solid #c5f6fa;

}

.description {
  overflow: auto;
}
.sidebar_rightdown input {
  width: 300px;
  height: 100px;
  bottom: 7vw;
  left: 2vw;
  font-size: 1rem;
  outline: none;
  border: none;
  position : absolute;
  background-color: #36393D;
  color: white;
  border-radius:0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.create-button-1 {
  width: 60px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  background: #22b8cf;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  position : absolute;
  left: 80px;
  bottom: 30px;
}

.create-button-2 {
  width: 60px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  background: #22b8cf;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  position : absolute;
  left: 200px;
  bottom: 30px;
}
.create-button-1:hover {
  background: #3bc9db;
}
.create-button-2:hover {
  background: #3bc9db;
}